<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>
        <nav>
            <ul class="navigation">
                <li><a href="/home" class="nav-link active">Home</a></li>
                <li><a href="/settings" class="nav-link">Settings</a></li>
            </ul>
        </nav>
        <main>
            <h1>{{ heading }}</h1>

            <ol>
                <li><a href="{{ url }}" target="_blank">{{ title1 }}</a></li>
                <li><a href="{{ url }}" target="_blank">Liste</a></li>
            </ol>
        </main>
    </body>
</html>